.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 0;
    position: relative;
}

.card img {
    border-radius: 8px 8px 0 0;
    width: 250px;
    height: 200px;
}

/* Estilo do botão de exclusão */
.delete-button {
    /* Posiciona o botão em relação ao .card */
    position: absolute;
    top: 450px; /* Ajusta a distância do topo */
    right: 5px; /* Ajusta a distância da direita */
    height: 50px;
    /* Outros estilos para o botão */
    background-color: transparent;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    color: #fff; /* Cor do "X" */
    text-shadow: 1px 1px 2px #000; /* Sombra para melhorar a visibilidade */
}

.delete-button:hover {
    color: #f00; /* Muda a cor ao passar o mouse */
}